body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    flex-direction: column;
    gap: 20px;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
input{
    width: 400px;
    height: 25px;
    padding: 10px 10px;
    background-color: black;
    border: 1px gray solid;
    color: white
}
.buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}
button{
    padding: 10px 20px;
    width: 100px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
}
p{
    letter-spacing: 0.3px;
}
a{
    text-decoration: none;
    color: white;
}
.backbtn{
    margin-top: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
.buttons>button{
    font-size: 18px;
}